* {
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background: #5EE6EB;
}
.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}
body {
    margin: 10px 10px;
}
.choice {
    display: flex; 
    align-items: center; 
    gap: 9px;
}
.choices-list {
    display: grid;
    gap: 10px;
}
.h1_title {
    padding-top: 20px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.my_form {   
    display: grid;
    justify-content: center;
}

.description{
    font-weight: bold;
    font-size: 20px;
}
.input, .days {
    width: 180px;
}
.input {
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

.days{
    padding: 15px;
    width: auto;
    border: none;
    background: #f1f1f1;
}
.input, .days {
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
}

.submit_btn{
    border: none;
    padding: 14px 30px;
    background-color: #04AA6D;
    color: white;
    font-size: medium;
}
.delete_btn{
    border: none;
    padding: 14px 30px;
    background-color: red;
    color: white;
    font-size: medium;
    cursor: pointer;
}
.submit_btn:hover {
    cursor: pointer;
}
.result{
    border-radius: 20px;
    height: 300px;
    margin: 0 auto;
    background: #f1f1f1;
    text-align: center;
    font-weight: bold;
    font-size: 20px; 
    max-width: 300px;  
}
@media only screen and (min-width: 410px) {
    .result {
        max-width: 400px;
    }
}

@media only screen and (min-width: 768px){
    .h1_title{
        padding-top: 20px;
        text-align: center;
    }

    .my_form{
        width: 100%;
        margin: 0 auto;
    }
    
    .input {
        width: 250px;
    }
    .result{
        max-width: 500px;
    }
}

@media only screen and (min-width: 1000px){
    .h1_title{
        padding-top: 20px;
        text-align: center;
        font-family: 'Kanit', sans-serif;
    }
    .my_form{
        display: grid;
        justify-content: center;
    }
    .input{
        width: 300px;
    }
    .result{
        max-width: 500px;
    }
}


